
<!-- <span class="circle3">
  <span class="circle2">
    <span class="circle1"></span>
  </span>
</span> -->
<div class="row top">
  <div class="col-xs-6">
    <h1>テストデプロイ</h1>
  </div>
  <div class="col-xs-2">
    <div class="top-nav">
      <ul class="nav nav-pills nav-stacked">
      	<li role="presentation" class=""><%= link_to "sign_in", new_user_session_path %></li>
      	<li role="presentation"><li><%= link_to "sign up", new_user_registration_path %></li>
      	<li role="presentation"><a href="#">sign</a></li>
      </ul>
    </div>
  </div>
</div>
