
<p> <%= @sur_name %><%= @name %>様会員登録が完了しました!</p>
<p><%= @email %></p>
<p>ご登録いただきまして、誠にありがとうございます。</p>
<br>
<p>お客様の登録が完了いたしましたのでご連絡申し上げます。</p>
<br>
<br>
<p>ご不明な点やご質問などございましたら、お気軽にお問い合せください。</p>


<p>以下のURLからご利用できます。</p>

<p>http://localhost:3000/users/@resource.id</p>

<p><%= link_to 'アカウント確認', confirmation_url(@resource, confirmation_token: @token) %></p>
